venv/
.venv/
__pycache__/
.DS_Store
*.pyc
.idea/
.vscode/
tmp/
*.env

# Frontend specific ignores
testing_pipelines/frontend/node_modules/
testing_pipelines/frontend/.next/
testing_pipelines/frontend/dist/